{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Crepel-David-Consulting</title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" media="all"/>
    </head>

    <body>
        <!-- Navigation-->
        <nav>
            <div class="container">
                <a href="/">
                </a>
            </div>
        </nav>

        <div>
            
        </div>

        <!-- Footer-->
        <footer>
            <div class="row">
                <div>
                    <a href="/mentions_legales">Mentions Légales</a>
                </div>
                <div>
                    <a href="/#contact">Contact</a>
                </div>
            </div>
        </footer>
    </body>
</html>