{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Consultant-David-Crepel</title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" media="all"/>
    </head>


    <body id="top-page">

        <!-- Navigation-->
        <nav>
            <div class="block-nav">

                <a href="/#contact">
                    <h4>Contact</h4>
                </a>

                <a href="/#skills">
                    <h4>Compétences</h4>
                </a>

                <a href="/blog">
                    <h4>Blog</h4>
                </a>

                <a href="/mentions_legales">
                    <h4>About</h4>
                </a>

                <a href="/#top-page">
                    <img src="static/icons/up.png">
                </a>
                
            </div>
        </nav>

        <div class="block-box">

            <div class="block-text" style="padding-top: 10%;">

                <h1>
                    Consultant David Crepel
                </h1>
                <h2>
                    Développement Commercial
                </h2>
                <ul>
                    <li><h3>Conseil entreprise, management et formation</h3></li>
                    <li><h3>Accompagnement, études et formation pour améliorer la performance commerciale des entreprises</h3></li>
                    <li><h3>Management de transition</h3></li>
                </ul>
            </div>
        
            <div class="block-photo" style="padding-top: 10%;">
                <img id="photo-david" src="static/assets/img/David.png">
            </div>

        </div>

        <div class="block-space">
            <img src="static/icons/separateur.png">
        </div>

        <div class="block-box">

            <div class="block-img">
                <img src="static/icons/investor.png">
            </div>

            <div class="block-text">
                <h1>
                    Boostez votre chiffre d'affaires et votre marge
                </h1>
            </div>

        </div>

        <div class="block-box">

            <div class="block-text">
                <h2>
                    Conseil entreprise en développement commercial
                </h2>
                <p>
                    Chefs d'entreprise, DG ou directeur commercial vous souhaitez vendre plus, mieux, de façon durable ? Vous 
                    voulez être accompagné dans votre réflexion stratégique, dans la définition et la mise en œuvre d'un plan 
                    d'action commerciale ? Vous souhaitez développer les compétences de vos équipes ?<br><br>

                    Vous vous demandez quels peuvent être les apports d'un consultant en développement commercial pour votre 
                    PME PMI ? Les différences entre du conseil, du coaching, de la formation ? Les spécificités de l'approche 
                    commerciale en BtoB ?<br><br>

                    En quoi consiste le développement commercial de votre entreprise (qu'elle soit TPE, PME ou ETI) et comment 
                    le mettre en oeuvre ?<br><br>

                    Il repose souvent sur une action sur plusieurs composantes : la stratégie commerciale, l'organisation et 
                    l'encadrement, le plan d'action commerciale, la communication, le marketing, mais aussi la formation et le 
                    développement des compétences des commerciaux et managers, l'usage de bonnes méthodes et techniques de vente 
                    ( B2B ou BtoC ) de prospection et de phoning, l'évaluation des offres commerciales de votre société ...<br><br>

                    Nous tenterons de répondre à ces questions en traitant de sujets liés à la stratégie d'entreprise, le 
                    management, l'organisation, l'évaluation et l'amélioration des compétences, la formation, la motivation 
                    pour la recherche de meilleures performances commerciales.
                </p>
                <h2>
                    Consultant-Entreprise en développement commercial
                </h2>
                <p>
                    Après une grande expérience commerciale, en BtoB et en BtoC, j'ai décidé d'aider les entrepreneurs à définir 
                    leur stratégie commerciale, à optimiser leur organisation, à évaluer et améliorer les compétences de leurs 
                    collaborateurs pour rechercher une meilleure performance commerciale.​<br><br>

                    Les Dirigeants ont souvent "la tête dans le guidon", ils leurs arrivent de manquer de disponibilité, du recul, 
                    de la formation ou de l'expérience nécessaires, pour réaliser ce travail seul. Alors que, paradoxalement, ces 
                    sont eux qui ont la meilleure connaissance de l'entreprise, de son marché, de son environnement...<br><br>

                    J'interviens alors comme conseil pour les aider à évaluer leur entreprise, formaliser les orientations et plans 
                    d'actions, sans bla-bla ni grande théorie mais avec la recherche de solutions pratiques et opérationnelles.<br><br>

                    Votre organisation apprendra à vendre plus et mieux, avec une approche flexible pour adapter sa stratégie aux 
                    contraintes du marché. Je vous accompagne sur la voie de la croissance rentable, donc du succès.
                </p>
            </div>

        </div>
 
        <div class="block-space">
            <img  id="skills" src="static/icons/separateur.png">
        </div>

        <div class="block-box">

            <div class="block-text">
                <h1>
                    Mes compétences:
                </h1>
                <ul>
                    <li><h3>Consultant formateur - Manager de transition</h3></li>
                    <li><h3>Expérience professionnelle :<br>
                        Commercial Bto B, Technico-commercial, Animateur Réseau</h3></li>
                    <li><h3>Formation :  Comptable et Commercial</h3></li>
                </ul>
            </div>

            <div class="block-img">
                <img src="static/icons/toolbox.png">
            </div>

        </div>

        <div class="block-space">
            <img src="static/icons/separateur.png">
        </div>

        <div class="block-box">

            <div class="block-img">
                <img src="static/icons/evaluation.png">
            </div>

            <div class="block-text">
                <h1>
                    Evaluation de la Stratégie Commerciale
                </h1>
                <h3>
                    Diagnostiques interne et externe de l'entreprise et des grandes orientations stratégiques.
                </h3>
                <p>
                    Forces et faiblesses de l'entreprise, opportunités et menaces liées à son marché, objectifs personnels de son 
                    dirigeant, évolution souhaitée à moyen terme, connaissance, partage et adhésion des collaborateurs aux grandes 
                    orientations stratégiques. Définitions des cibles de clients et stratégie canal.<br><br>

                    Remettre le client au cœur de la stratégie et anticiper les évolutions de marché
                </p>
            </div>

        </div>

        <div class="block-space">
            <img src="static/icons/separateur.png">
        </div>

        <div class="block-box">

            <div class="block-text">
                <h1>
                    Plan d'action commerciale
                </h1>
                <h3>
                    Les moyens à mettre en œuvre:
                </h3>
                <p>
                    Décomposer vos orientations stratégiques en objectifs simples à attribuer, budgéter et contrôler.Qui, quoi, 
                    combien, à quel coût, à quelle date, pour quel résultat attendu ?<br><br>

                    De quoi donner aux commerciaux des cibles, moyens et objectifs. Analyser les résultats et mettre en place les 
                    mesures correctrices.
                </p>
            </div>

            <div class="block-img">
                <img src="static/icons/action.png">
            </div>

        </div>

         <div class="block-space">
            <img src="static/icons/separateur.png">
        </div>

        <div class="block-box">

            <div class="block-img">
                <img src="static/icons/optimisation.png">
            </div>

            <div class="block-text">
                <h1>
                    Optimisation de votre organisation commerciale
                </h1>
                <h3>
                    Votre approche marché et l'efficacité des forces de vente
                </h3>
                <p>
                    Comment évaluer les compétences de vos collaborateurs et les faire progresser ?<br><br>

                    Définir les savoir faire et savoir être. Maîtriser les techniques commerciales pour gagner en performance.
                </p>
            </div>

        </div>

        <div class="block-space">
            <img src="static/icons/separateur.png">
        </div>

        <div class="block-box">

            <div class="block-text">
                <h1>
                    Formation
                </h1>
                <ul>
                    <li><h3>Formateur en développement commercial.</h3></li>
                    <li><h3>Définir un socle commun de compétences et de connaissances.</h3></li>
                    <li><h3>Formation aux techniques de vente et de négociation.​</h3></li>
                    <li><h3>Travailler sur les comportements et les bonnes pratiques.</h3></li>
                    <li><h3>Les savoir-être et savoir-faire du commercial​.</h3></li>
                    <li><h3>Accompagnement terrain et coaching en situation de travail.</h3></li>
                </ul>
            </div>

            <div class="block-img">
                <img src="static/icons/formation.png">
            </div>

        </div>

        <div class="block-space">
            <img  id="contact" src="static/icons/separateur.png">
        </div>

        <div class="block-box">

            <div class="block-text">
                <h1>
                    Contactez-moi
                </h1>
            </div>
        </div>

        <div class="block-box">

            <div class="block-contact">
                <img class="image-contact" src="static/icons/home.png">
                <div class="block-contact-text">
                    <p>20 rue du Gué de la Forge 89 140 Courlon-sur-yonne</p>
                </div>
            </div>
            <div class="block-contact">
                <img class="image-contact" src="static/icons/phone.png">
                <div class="block-contact-text">
                    <p>06 51 37 59 29</p>
                </div>
            </div>
            <div class="block-contact">
                <a href="mailto:david.crepel@orange.fr">
                    <img class="image-contact" src="static/icons/mail.png">
                </a>
                <div class="block-contact-text">
                    <p>david.crepel@orange.fr</p>
                </div>
            </div>
        </div>

        <div class="block-space">
            <img src="static/icons/separateur.png">
        </div>

        <!-- Footer-->
        <footer>
            <div class="block-box">
                <a href="/mentions_legales"><h4>Mentions Légales</h4></a>
            </div>
        </footer>

    </body>
</html>