{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Crepel-David-Consulting</title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" media="all"/>
    </head>

    <body>
        
        <p>Ici yora les mentions legales sisi t'as vu...</p>
        <a href='https://fr.freepik.com/vecteurs/affaires'>Affaires vecteur créé par macrovector - fr.freepik.com</a>
        <a href='https://fr.freepik.com/vecteurs/affaires'>Affaires vecteur créé par pch.vector - fr.freepik.com</a>
        <!-- Footer-->
        <footer>
            <div class="row">
                <div>
                    <a href="/mentions_legales">Mentions Légales</a>
                </div>
                <div>
                    <a href="/#contact">Contact</a>
                </div>
            </div>
        </footer>
    </body>
</html>