body
{
    background-color: #aa0000;
    max-width: 90%;
    margin-left: 5%;
}

nav
{
    background-color: #cd0d0d;
    position: fixed;
    opacity: 0.6;
    border-radius: 20px;
    width: 90%;
    height: 15%;
}

#arrow:hover
{
    transform: scale(1.2);
    transition: transform 100ms ease-in-out;
}

#up:hover
{
    transform: scale(1.2);
    transition: transform 100ms ease-in-out;
}

.block-nav
{
    display: flex;
    justify-content: space-evenly;
}

.block-box
{
    /* border: solid maroon; */
    display: flex;
    justify-content: space-evenly;
}

.block-space
{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 3%;
    margin-bottom: 3%;
}

.block-text
{
    /* border: solid maroon; */
    width: 70%;
}

.block-photo
{
    /* border: solid maroon; */
    display: flex;
    justify-content: space-evenly;
}

#photo-david
{
    max-height: 60%;
    margin-top: 10%;
    border-radius: 50%;
}

.block-img
{
    /* border: solid maroon; */
    margin-top: 5%;
}

img
{
    /* border: solid rgb(78, 62, 104); */
    border-radius: 10px;
    max-height: 100%;
    max-width: 100%;
}

.block-contact
{
    /* border: solid black; */
    display: flex;
    flex-direction: column;
    height: 25em;
    width: 20em;
}

.image-contact
{
    height: 15em;
    width: 15em;
}

.block-contact-text
{
    /* border: solid blue; */
    display: block;
}

footer
{
    display: flex;
    justify-content: center;
}



h1, h2, h3, p
{
    font-family: '';
}

h1, h2
{
    text-shadow: 0 0 0.05em white, 0 0 0.05em  white, 0 0 0.05em  white;
    text-align: center;
}

h1
{
    font-size: 4em;
}

h2
{
    font-size: 3em;
}

h3, p
{
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

h3, h4
{
    font-size: 2em;
}

p
{
    font-size: 1.5em;
}

a,h4
{
    text-decoration: none;
    color: #000;
    text-shadow: none;
}
a,h4:hover
{
    text-shadow: 0 0 0.05em white, 0 0 0.05em  white, 0 0 0.05em  white;
}

ul > li
{
    margin: 0em 0;
    line-height: 0.5%;
    list-style-type : none;
    padding-left: 2%;
}