{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Consultant-David-Crepel</title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" media="all"/>
    </head>

    <body>

        <div class="block-back">
            <a href="/">
                <img class="arrow-back" src="/static/css/imange/back.png">
            </a>
        </div>
        
        <p>En travaux...</p>
        
        <!-- Footer-->
        <footer>
            <div class="row">
                <!-- <div>
                    <a href="/mentions_legales">Mentions Légales</a>
                </div>
                <div>
                    <a href="">Top</a>
                </div> -->
            </div>
        </footer>
    </body>
</html>